<%- include('partials/head', { user: filename , name : menuName}) %>
<%- include('partials/menu', { active : ''}) %>

<div class="ui container" style="padding-top: 7em; padding-bottom: 3em; min-height: 100vh">
    <%- include('partials/topsidebar', { size : 'ten', menuDetail: false, iconSize: 'huge', active: menuCode}) %>
    <h2 class="ui header">
        <div class="content">
            <%- menuName %>
            <div class="sub header"><%- menuDes %></div>
        </div>
    </h2>
    <div class="ui segment">
        <form class="ui form addGrade">
            <div class="equal width fields">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="grade_code" placeholder="Code..." required>
                </div>
                <div class="field">
                    <label>Full Name</label>
                    <input type="text" name="grade_name" placeholder="Name..." required>
                </div>
                <div class="field">
                    <label>Email</label>
                    <input type="text" name="grade_description" placeholder="Description..." required>
                </div>
            </div>
            <button class="ui right labeled icon tiny green button">
                <i class="save icon"></i>
                Simpan
            </button>
        </form>
    </div>
    <div class="dimmable">
        <div class="ui inverted dimmer gradetable">
            <div class="ui text loader">Loading</div>
        </div>
        <table class="ui celled striped table gradetable">
            
            <thead>
                <tr>
                    <th class="center aligned">Code</th>
                    <th class="center aligned">Name</th>
                    <th class="center aligned">Description</th>
                    <th class="center aligned">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="ui mini modal delete" id="delete-grade">
    <div class="header"></div>
    <div class="content">
    </div>
    <div class="actions">
        <div class="ui approve red button">Yes!</div>
        <div class="ui cancel button">No</div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<%- include('partials/script', {}) %>
<script src="/js/grade.js"></script>
<%- include('partials/foot', {}) %>