<%- include('partials/head', { user: filename , name : menuName}) %>
<%- include('partials/menu', { active : ''}) %>

<div class="ui container" style="padding-top: 7em; padding-bottom: 3em; min-height: 100vh">
    <h2 class="ui header">
        <div class="content">
            <%- menuName %>
            <div class="sub header"><%- menuDes %></div>
        </div>
    </h2>
    <%- include('partials/topsidebar', { size : 'eight', menuDetail: true, iconSize: 'massive', active: menuCode }) %>
</div>
<script src="/js/jquery.min.js"></script>
<%- include('partials/script', {}) %>
<script>

</script>
<%- include('partials/foot', {}) %>